@import "tailwindcss";

:root {
  --background: --light-primary; /* Default light mode background */
  --foreground: --dark-primary; /* Default light mode text color */

  /* Light mode colors */
  --light-primary: #f2f7f2;
  --light-highlight: #3185fc;

  /* Dark mode colors */
  --dark-primary: #000814;
  --dark-highlight: #f2f230;
}

.dark {
  --background: var(--dark-primary);
  --foreground: var(--light-primary);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto, Arial, Helvetica, sans-serif);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
