@import "tailwindcss";

:root {
  --background: --light-primary; /* Default light mode background */
  --foreground: --dark-primary; /* Default light mode text color */

  /* Light mode colors */
  --light-primary: #f2f7f2;
  --light-highlight: #3185fc;

  /* Dark mode colors */
  --dark-primary: #000814;
  --dark-highlight: #f2f230;
}

.dark {
  --background: var(--dark-primary); /* Dark mode background */
  --foreground: var(--light-primary); /* Dark mode text color */
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik, Arial, Helvetica, sans-serif);
}
